<p>Articles</p>
<p>Find me in app/views/articles/index.html.erb</p>

<%# <a href="/articles/create">Create Article</a> %>
<a href="<%= new_article_path() %>">Create Article</a>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%# <a href="/articles/<%=article.id %>

      <%# Other way %>
      <a href="<%= article_path(article)%>">
        <span>
          <%= article.title %>
          -
          <%= article.author %>
        </span>
      </a>

      <%# Other way %>
      <%#= link_to article.title, article %>
    </li>
  <% end %>
</ul>
